body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #0f0f15;
  color: white;
}

.App {
  text-align: center;
  padding: 20px;
}

.heading {
  font-size: 2rem;
  color: #5aaaff;
  margin-top: 30px;
}

.note-form {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.note-form input {
  padding: 10px;
  width: 40%;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.note-form button {
  padding: 10px 15px;
  background-color: blueviolet;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.notes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.note-item {
  background-color: #1f1f2e;
  padding: 15px 20px;
  width: 50%;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 8px rgba(90, 170, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-item p {
  margin: 0;
  font-size: 1.1rem;
}

.icons .icon {
  margin-left: 10px;
  cursor: pointer;
  color: #ccc;
}

.icons .delete {
  color: #ff4c4c;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #15151e;
  align-items: center;
  box-shadow: 0 0 10px rgba(90, 170, 255, 0.3);
}

.navbar .logo {
  font-size: 1.5rem;
  color: #5aaaff;
  font-weight: bold;
}

.navbar .logo span {
  color: #b6d6ff;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar li {
  cursor: pointer;
  font-weight: 500;
}

.logout {
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background-color: #725bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #15151e;
  color: #aaa;
}

.footer span {
  color: #5aaaff;
}
